---
- name: Add the 802.1q module
  community.general.modprobe:
    name: 8021q
    state: present
    persistent: present

- name: Create VLANs logical interfaces
  ansible.builtin.template:
    src: ifupdown_vlan_if.j2
    dest: /etc/network/interfaces.d/vlans

- name: Add sourcing the vlans file to the ifupdown configuration
  ansible.builtin.lineinfile:
    path: /etc/network/interfaces
    line: "source /etc/network/interfaces.d/vlans"
    state: present

- name: Enable IP forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

- name: Install iptables
  ansible.builtin.package:
    name: iptables
    state: present

- name: Set default FORWARD policy to DROP
  ansible.builtin.iptables:
    chain: FORWARD
    policy: DROP

- name: Insert iptables rule for LAN -> WAN through NAT
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    source: "{{ homelab_ip_subnet }}{{ homelab_ip_subnet_mask }}"
    out_interface: "{{ ethernet_interface }}.{{ vlan_id_wan }}"
    jump: MASQUERADE
    state: present

- name: Insert iptables rule allowing forwarding LAN -> WAN
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    in_interface: "{{ ethernet_interface }}.{{ vlan_id_lan }}"
    out_interface: "{{ ethernet_interface }}.{{ vlan_id_wan }}"
    jump: ACCEPT
    state: present

- name: Insert iptables rule allowing forwarding WAN -> LAN
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    in_interface: "{{ ethernet_interface }}.{{ vlan_id_wan }}"
    out_interface: "{{ ethernet_interface }}.{{ vlan_id_lan }}"
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    state: present

- name: Allow mDNS (UDP 5353) between VLANs
  ansible.builtin.iptables:
    chain: FORWARD
    protocol: udp
    destination_port: 5353
    jump: ACCEPT
    state: present

- name: Allow mDNS (UDP 5353) return traffic between VLANs
  ansible.builtin.iptables:
    chain: FORWARD
    protocol: udp
    source_port: 5353
    jump: ACCEPT
    state: present

- name: Allow SSDP (UDP 1900) between VLANs
  ansible.builtin.iptables:
    chain: FORWARD
    protocol: udp
    destination_port: 1900
    jump: ACCEPT
    state: present

- name: Allow SSDP (UDP 1900) return traffic between VLANs
  ansible.builtin.iptables:
    chain: FORWARD
    protocol: udp
    source_port: 1900
    jump: ACCEPT
    state: present

- name: Allow HTTP traffic (TCP 80)
  ansible.builtin.iptables:
    chain: FORWARD
    protocol: tcp
    destination_port: 80
    jump: ACCEPT
    state: present

- name: Allow HTTPS traffic (TCP 443)
  ansible.builtin.iptables:
    chain: FORWARD
    protocol: tcp
    destination_port: 443
    jump: ACCEPT
    state: present

- name: Install iptables-persistent
  ansible.builtin.package:
    name: iptables-persistent
    state: present

- name: Save iptables rules
  ansible.builtin.shell: iptables-save > /etc/iptables/rules.v4
  changed_when: true

- name: Install smcroute
  ansible.builtin.apt:
    name: smcroute
    state: present
    update_cache: yes

- name: Add multicast route for LAN VLAN
  ansible.builtin.command: >
    smcroutectl add {{ ethernet_interface }}.{{ vlan_id_lan }} 224.0.0.0/4
  register: smcroute_lan
  changed_when: "'already exists' not in smcroute_lan.stderr"

- name: Add multicast route for WAN VLAN
  ansible.builtin.command: >
    smcroutectl add {{ ethernet_interface }}.{{ vlan_id_wan }} 224.0.0.0/4
  register: smcroute_wan
  changed_when: "'already exists' not in smcroute_wan.stderr"

- name: Restart network
  ansible.builtin.service:
    name: networking
    state: restarted
   
