---
- name: Add the 802.1q module
  community.general.modprobe:
    name: 8021q
    state: present
    persistent: present

- name: Create VLANs logical interfaces
  ansible.builtin.template:
    src: ifupdown_vlan_if.j2
    dest: /etc/network/interfaces.d/vlans

- name: Add sourcing the vlans file to the ifupdown configuration
  ansible.builtin.lineinfile:
    path: /etc/network/interfaces
    line: "source /etc/network/interfaces.d/vlans"
    state: present

- name: Enable IP forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

- name: Install iptables
  ansible.builtin.package:
    name: iptables
    state: present

- name: Set default FORWARD policy to DROP
  ansible.builtin.iptables:
    chain: FORWARD
    policy: DROP

- name: Insert iptables rule for LAN -> WAN through NAT
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    source: "{{ homelab_ip_subnet }}{{ homelab_ip_subnet_mask }}"
    out_interface: "{{ ethernet_interface }}.{{ vlan_id_wan }}"
    jump: MASQUERADE
    state: present

- name: Insert iptables rule allowing forwarding LAN -> WAN
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    in_interface: "{{ ethernet_interface }}.{{ vlan_id_lan }}"
    out_interface: "{{ ethernet_interface }}.{{ vlan_id_wan }}"
    jump: ACCEPT
    state: present

- name: Insert iptables rule allowing forwarding WAN -> LAN
  ansible.builtin.iptables:
    table: filter
    chain: FORWARD
    in_interface: "{{ ethernet_interface }}.{{ vlan_id_wan }}"
    out_interface: "{{ ethernet_interface }}.{{ vlan_id_lan }}"
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    state: present

- name: Install udp-broadcast-relay dependencies
  ansible.builtin.package:
    name: udp-broadcast-relay
    state: present

- name: Create systemd service for UDP Relay (Port 9999)
  ansible.builtin.copy:
    dest: /etc/systemd/system/udp-relay-9999.service
    content: |
      [Unit]
      Description=UDP Broadcast Relay on port 9999
      After=network.target

      [Service]
      # Usage: udp-broadcast-relay <port> <iface1> <iface2> ...
      ExecStart=/usr/sbin/udp-broadcast-relay 1 9999 enp1s0.1 enp1s0.10
      Restart=always

      [Install]
      WantedBy=multi-user.target

- name: Create systemd service for UDP Relay (Port 20002)
  ansible.builtin.copy:
    dest: /etc/systemd/system/udp-relay-20002.service
    content: |
      [Unit]
      Description=UDP Broadcast Relay on port 20002
      After=network.target

      [Service]
      ExecStart=/usr/sbin/udp-broadcast-relay 2 20002 enp1s0.1 enp1s0.10
      Restart=always

      [Install]
      WantedBy=multi-user.target

- name: Enable and start UDP Relay services
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
    daemon_reload: yes
  loop:
    - udp-relay-9999.service
    - udp-relay-20002.service

- name: Install iptables-persistent
  ansible.builtin.package:
    name: iptables-persistent
    state: present

- name: Save iptables rules
  ansible.builtin.shell: iptables-save > /etc/iptables/rules.v4
  changed_when: true

- name: Restart network
  ansible.builtin.service:
    name: networking
    state: restarted
   
