apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-deployment
  labels:
    app: portfolio
spec:
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      nodeName: optiplex
      containers:
      - name: portfolio
        build:
          context: https://github.com/Hugo-CASTELL/pf.git
