apiVersion: v1
kind: PersistentVolume
metadata:
  name: home-assistant-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/home-assistant
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: home-assistant-time-pv
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /etc/localtime
